<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-left">
      <!-- LOGO no Footer -->
      <div class="footer-logo">
        <img src="../../../../assets/images/hoshub-footer-logo.png" />
      </div>
      
      <!-- Informações da empresa -->
      <h3>Imobiliária Martinez</h3>
      <p>Encontre o seu imóvel dos sonhos com a gente!</p>
      <p><strong>Endereço:</strong> Rua dos Exemplos, 123 - Cidade, Estado</p>
      <p><strong>Telefone:</strong> (11) 1234-5678</p>
    </div>

    <div class="footer-right">
      <div class="social-media">
        <h4>Siga-nos:</h4>
        <ul>
          <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="#"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <a routerLink="/">Home</a>
        <a routerLink="/contato">Contato</a>
        <a routerLink="/sobre">Sobre</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      Copyright 
      &copy; <span>{{ currentYear }}</span> 
      Imobiliária Martinez. Todos os direitos reservados.
    </p>
  </div>
</footer>
