<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <app-card class="px-16">
    <div class="my-6">
      <!-- Logo e Título -->
      <app-logo-name></app-logo-name>

      <h2 class="text-gray-600 text-center text-l font-bold mb-5">
        Esqueceu a senha
      </h2>
      <p>Insira o e-mail para recuperar sua senha</p>

      <!-- Mensagem de sucesso -->
      <p
        *ngIf="successMessage"
        class="text-center text-green-600 font-bold mb-3"
      >
        {{ successMessage }}
      </p>

      <!-- Mensagem de erro -->
      <p *ngIf="errorMessage" class="text-center text-red-600 font-bold mb-3">
        {{ errorMessage }}
      </p>

      <!-- Formulário -->
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Input de E-mail -->
        <div class="w-full max-w-sm min-w-[200px] mb-5">
          <div class="relative">
            <input
              type="email"
              formControlName="email"
              placeholder="E-mail"
              [class.invalid]="
                forgotPasswordForm.get('email')?.invalid &&
                forgotPasswordForm.get('email')?.touched
              "
            />
            <label
              for="email"
              class="absolute text-sm text-slate-400 left-3 duration-100 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-slate-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-5"
            >
              E-mail
            </label>
          </div>
          <div
            class="error-message"
            *ngIf="
              forgotPasswordForm.get('email')?.invalid &&
              forgotPasswordForm.get('email')?.touched
            "
          >
            <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
              >O e-mail é obrigatório.</small
            >
            <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
              >E-mail inválido.</small
            >
          </div>
        </div>

        <!-- Botão de Envio -->
        <button
          type="submit"
          [disabled]="forgotPasswordForm.invalid"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-5"
        >
          Recuperar Senha
        </button>
      </form>

      <!-- Link para a página de login -->
      <div class="flex justify-center mt-5">
        <a routerLink="/login" class="text-sm text-[var(--color-primary)] ml-1"
          >Já possui uma conta? Clique aqui</a
        >
      </div>
    </div>
  </app-card>
</div>
