<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <app-card class="px-16">
    <div class="my-6">
      <!-- Logo e Título -->
      <app-logo-name></app-logo-name>

      <p>Insira a nova senha</p>

      <!-- Mensagem de sucesso -->
      <p
        *ngIf="successMessage"
        class="text-center text-green-600 font-bold mb-3"
      >
        {{ successMessage }}
      </p>

      <!-- Mensagem de erro -->
      <p *ngIf="errorMessage" class="text-center text-red-600 font-bold mb-3">
        {{ errorMessage }}
      </p>

      <!-- Formulário -->
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Input de Senha -->
        <div class="w-full max-w-sm min-w-[200px] mb-5">
          <div class="relative">
            <input
              id="password"
              name="password"
              type="password"
              [(ngModel)]="registerForm.password"
              class="block peer w-full bg-transparent placeholder:text-transparent text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-3 transition duration-300 ease hover:border-slate-300 shadow-sm focus:ring focus:ring-gray-300 focus:outline-none"
              placeholder=" "
              required
            />
            <label
              for="password"
              class="absolute text-sm text-slate-400 left-3 top-3 duration-100 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-slate-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-5"
            >
              Senha
            </label>
          </div>
        </div>

        <!-- Botão de Envio -->
        <button
          type="submit"
          [disabled]="forgotPasswordForm.invalid"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-5"
        >
          Resetar Senha
        </button>
      </form>

  </app-card>
</div>
