<header class="top-menu">
  <div class="logo-container" (click)="navigateToHome()">
    <!-- Troque pelo caminho da sua logo -->
    <img
      src="../../../../assets/images/hosthub-header-logo.png"
      alt="Logo Host Hub"
    />
    <!-- Ou use apenas texto, se preferir -->
    <!-- <h2>Host Hub</h2> -->
  </div>

  <nav class="menu-nav">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/imoveis">Imóveis</a></li>
      <li><a routerLink="/contato">Contato</a></li>
      <li><a routerLink="/sobre">Sobre</a></li>
    </ul>
  </nav>

  <div class="menu-actions">
    <!-- Exemplo de botões -->
    <button routerLink="/profile" class="btn-login">Minha Conta</button>
    <button (click)="navigateToCreateAnuncio()" class="btn-anunciar">
      Novo Anúncio
    </button>
  </div>
</header>
