<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <!-- Card de Login -->
  <app-card class="px-16">
    <!-- Logo e Título -->
    <app-logo-name></app-logo-name>

    <p class="text-gray-600 text-center text-l font-bold mb-5">
      Entre em sua conta
    </p>

    <!-- Formulário -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Input de Email -->
      <div class="w-full max-w-sm min-w-[200px] mb-5">
        <div class="relative">
          <input
            id="email"
            name="email"
            type="email"
            formControlName="email"
            class="block peer w-full bg-transparent placeholder:text-transparent text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-3 transition duration-300 ease hover:border-slate-300 shadow-sm focus:ring focus:ring-gray-300 focus:outline-none"
            placeholder=" "
            required
          />
          <label
            for="email"
            class="absolute text-sm text-slate-400 left-3 top-3 duration-100 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-slate-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-5"
          >
            E-mail
          </label>
        </div>
      </div>

      <!-- Input de Senha -->
      <div class="w-full max-w-sm min-w-[200px] mb-5">
        <div class="relative">
          <input
            id="password"
            name="password"
            type="password"
            formControlName="password"
            class="block peer w-full bg-transparent placeholder:text-transparent text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-3 transition duration-300 ease hover:border-slate-300 shadow-sm focus:ring focus:ring-gray-300 focus:outline-none"
            placeholder=" "
            required
          />
          <label
            for="password"
            class="absolute text-sm text-slate-400 left-3 top-3 duration-100 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-slate-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-5"
          >
            Senha
          </label>
        </div>
        <div class="mt-1">
          <a
            (click)="navigateToForgotPassword()"
            class="text-sm text-[var(--color-primary)]"
            >Esqueceu a senha?</a
          >
        </div>
      </div>

      <!-- Botão de Login -->
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="w-full max-w-sm min-w-[200px] bg-[var(--advanced-light-orange)] text-white py-2 rounded-md hover:bg-[var(--color-primary)] transition duration-300"
      >
        Entrar
      </button>
    </form>

    <!-- Links para "Esqueceu a Senha" e "Não Possui Conta" -->
    <div class="flex justify-center mt-5">
      <span class="text-sm text-gray-700">Não possui conta?</span>
      <a
        (click)="navigateToRegister()"
        class="text-sm text-[var(--color-primary)] ml-1"
        >Cadastre-se</a
      >
    </div>
  </app-card>
</div>
